{% extends "home/base.html" %}

{% set title = "Contact Us" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-8 col-6">
                {% include "flash-messages.html" %}
                <h1>Contact Us</h1>
                <form method="post">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Full Name</label>
                            <input class="form-control" type="text" name="fullname" required>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label">Email Address</label>
                            <input class="form-control" type="text" name="email" required>
                        </div>
                    </div>
                    <div>
                        <label class="form-label">Full Name</label>
                        <textarea class="form-control" name="message" rows="5" required>

                        </textarea>
                    </div>
                    <div>
                        <input class="btn btn-primary px-5 my-2" type="submit" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}