<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | User</title>
    {% include "head.html" %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">Ikram </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("user.view_products") }}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("user.view_favorites") }}">
                        Saved
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile.update_profile') }}">Update Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Notifications
                    </a>
                    <ul style="font-size: 11px" class="dropdown-menu" aria-labelledby="productDropdown">
                        {% for notification in current_user.get_unread_notifications() %}
                            <li>
                                <span class="dropdown-item">
                                    {{ notification.message }}
                                </span>
                            </li>
                        {% endfor %}
                        <hr>
                        {% for notification in current_user.get_global_notifications() %}
                            <li>
                                <span class="dropdown-item">
                                    {{ notification.message }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("auth.logout") }}">
                        Logout
                    </a>
                </li>
            </ul>
            {# TODO: MODIFY THE SEARCH SO THAT IT GOES TO NEW PAGE AND GET SEARCH RESULT FROM EVERY DOMAIN #}
            <form class="d-flex" action="{{ url_for("search.search_query") }}">
                <input class="form-control me-2" type="search" name="q" placeholder="Search Anything..">
                <button class="btn btn-outline-light fw-bold" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-3">
    {% block content %}
    {% endblock %}
</div>

{% block script %}
{% endblock %}
</body>
</html>