{% extends "base.html" %}

{% set title = "Add Product" %}

{% block content %}
    <h3>Add New Product</h3>
    <form method="post" enctype="multipart/form-data">
        {% include "flash-messages.html" %}
        <div class="row justify-content-between mb-3">
            <div class="col-12">
                <label for="product-image" class="form-label">Product Image:</label>
                <input type="file" id="product-image" class="form-control" name="product-image">
            </div>
            <div class="col-12 col-md-9">
                <label class="form-label">Product Name</label>
                <input class="form-control" type="text" name="product-name" required>
            </div>
            <div class="col-12 col-md-3">
                <label class="form-label">Category</label>
                <select name="product-category" required class="form-control">
                    <option value="">-- Choose Product Category --</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name.capitalize() }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Product Description</label>
            <textarea class="form-control" rows="10" name="product-desc"></textarea>
        </div>
        <div class="row justify-content-between mb-3">
            <div class="col-12 col-md-5">
                <label class="form-label">Product Price</label>
                <input class="form-control" type="number" name="product-price" required>
            </div>
            <div class="col-12 col-md-7">
                <label class="form-label">Product Link</label>
                <input class="form-control" type="text" name="product-link" placeholder="https://amazon.com/product/" required>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <input type="submit" value="Add New Product" class="btn btn-primary w-100">
            </div>
        </div>
    </form>
{% endblock %}