{% extends "base.html" %}

{% set title = "Edit User" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 shadow p-4 mt-5 rounded">
                <h1 class="title">Edit User</h1>
                <div class="box">
                    <form method="POST" action="{{ url_for('admin.edit_user', user_id=user.id) }}">
                        <div class="my-2">
                            <label class="form-label">Username</label>
                            <input class="form-control" type="text" name="username" value="{{ user.username }}"
                                   required>
                        </div>
                        <div class="my-2">
                            <label class="form-label">Password</label>
                            <input class="form-control" type="password" name="password" placeholder="New Password">
                        </div>
                        <div class="my-2">
                            <label class="form-check">
                                <input id="is_admin" type="checkbox" class="form-check-input" name="is_admin"
                                       {% if user.is_admin %}checked{% endif %}>
                                <label for="is_admin" class="form-check-label">Make Admin</label>
                            </label>
                        </div>
                        <button class="btn btn-primary w-100">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}